# MACHINE LEARNING
## 07- K_Nearest Neighbors

In [19]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

### STEP-2 Importing Data Set

In [20]:
df = pd.read_csv('mldata.csv')
df.head(5)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0    Male   Pakora
241   26   172.0    70.0    Male  Biryani
242   40   178.0    80.0    Male  Biryani
243   25     5.7    65.0    Male  Biryani
244   33   157.0    56.0  Female   Samosa

### STEP-3 Replace gender Categorial value with 0 and 1

In [21]:
df['gender']= df['gender'].replace('Male',1)
df['gender']= df['gender'].replace('Female',0)
df.head(),df.tail()

(   age   height  weight  gender likeness
 0   27  170.688    76.0       1  Biryani
 1   41  165.000    70.0       1  Biryani
 2   29  171.000    80.0       1  Biryani
 3   27  173.000   102.0       1  Biryani
 4   29  164.000    67.0       1  Biryani,
      age  height  weight  gender likeness
 240   31   160.0    60.0       1   Pakora
 241   26   172.0    70.0       1  Biryani
 242   40   178.0    80.0       1  Biryani
 243   25     5.7    65.0       1  Biryani
 244   33   157.0    56.0       0   Samosa)

### STEP-4 Slection of input (Feature) Based on Four Values and Output Variable

In [22]:
X = df[['age','height','weight','gender']]
y = df['likeness']

In [23]:
X.head()

   age   height  weight  gender
0   27  170.688    76.0       1
1   41  165.000    70.0       1
2   29  171.000    80.0       1
3   27  173.000   102.0       1
4   29  164.000    67.0       1

In [24]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

### STEP- 5 Machine Learning Algorithm

In [28]:
from sklearn.neighbors import KNeighborsClassifier

# # Create Model and fit 
model= KNeighborsClassifier(n_neighbors=5)
model.fit(X,y)

# # Pridiction Out-Put Based on Given value
model.predict([[25,160.000,70.0,0]])

array(['Biryani'], dtype=object)

In [37]:
model.predict(X)

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Pakora', 'Samosa', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani'],
      dtype=object)

### Matrices For Model Evaluation

In [30]:
# How to measure the accuracy of our model 
# Split Data Into Test and train (80/20)
from sklearn.model_selection import  train_test_split
from sklearn.metrics import accuracy_score

### Split Data Set into Test And Train

In [31]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [46]:
# # Create Model and fit model on x_train & y_train
model= KNeighborsClassifier(n_neighbors=10)
model.fit(x_train,y_train)

# # Pridiction Out-Put Based on Given value
predicted_values=model.predict(x_test)
predicted_values

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

### Checking Accuracy Score of Model predictioon

In [47]:
score = accuracy_score(y_test,predicted_values)
print("The Accurancy Score for our Model is =",score)

The Accurancy Score for our Model is = 0.6122448979591837