## Random Forest Reggressor

In [68]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

### Loading Data-Set

In [72]:
df=pd.read_csv('mldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

Changing Ctegorical Values With Numerical Value

In [40]:
df["gender"]= df["gender"].replace("Male",0.0)
df["gender"]= df["gender"].replace("Female",1.0)
df["likeness"]= df["likeness"].replace("Biryani",2.0)
df["likeness"]= df["likeness"].replace("Samosa",3.0)
df["likeness"]= df["likeness"].replace("Pakora",4.0)

## Selecting Data-set

In [55]:
import matplotlib.pyplot as plt 
from sklearn.tree import  DecisionTreeClassifier
X = df.iloc[:,:-2]
y = df.iloc[:,-2]

In [52]:
X.head()

   age   height  weight
0   27  170.688    76.0
1   41  165.000    70.0
2   29  171.000    80.0
3   27  173.000   102.0
4   29  164.000    67.0

In [56]:
y.tail()

240    0
241    0
242    0
243    0
244    1
Name: gender, dtype: int64

## Creating a Model

In [57]:
from sklearn.ensemble import  RandomForestRegressor
from sklearn.datasets import make_regression
make_regression (n_features=4,n_informative=2,random_state=0,shuffle=False)
# X,y = make_regression(n_features=4, n_informative=2,random_state=0,shuffle=False)
model = RandomForestRegressor(max_depth=2,random_state=0)
model.fit(X,y)

RandomForestRegressor(max_depth=2, random_state=0)

In [59]:
model.predict([[27,170.688,76.0,]])

array([0.02144861])

## Spliting Data Set

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

## Predicting x_Test

In [62]:
predicted_xtest = model.predict(x_test)
predicted_xtest

array([0.36181381, 0.07386671, 0.36210821, 0.17595025, 0.07404747,
       0.22450609, 0.13987047, 0.07289897, 0.02572788, 0.02572788,
       0.02144861, 0.08594599, 0.02493558, 0.02259179, 0.3322361 ,
       0.08525633, 0.02162405, 0.08594599, 0.02328677, 0.77235201,
       0.23772239, 0.02659297, 0.21284877, 0.02259179, 0.0234622 ,
       0.19903605, 0.07289897, 0.02746339, 0.20172568, 0.08194481,
       0.02562523, 0.02144861, 0.08594599, 0.02144861, 0.07317705,
       0.23063438, 0.02144861, 0.02259179, 0.02144861, 0.23059107,
       0.33114366, 0.02259179, 0.02241635, 0.09416975, 0.36386055,
       0.02259179, 0.02162405, 0.08778414, 0.08594599])

## Accuracy test

In [63]:
score = model.score(x_test,y_test)
print("Accuracy Score of our Model is:",score)

Accuracy Score of our Model is: 0.2890422143252166